body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
a {
<<<<<<< HEAD
  color: $mainOrange;
=======
  color: #d59541;
>>>>>>> ef87e4f4ec1c53663da1965e81971faf342e41c0
}
