@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}
@define-mixin clearfix {
<<<<<<< HEAD
=======
  &::after {
    content: "";
    clear: both;
    display: table;
  }
>>>>>>> ef87e4f4ec1c53663da1965e81971faf342e41c0
}
